# ENV
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed


# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# 0x
profile-*

# mac files
.DS_Store

# vim swap files
*.swp

# webstorm
.idea

# vscode
.vscode
*code-workspace

dist
