.root {
    overflow: hidden;
}

.left {
    height: 100vh;
    position: relative;
    float: left;
}

.right {
    height: 100vh;
    overflow: hidden;
}

.aside {
    position: absolute;
    top: 0;
    right: 3px;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
}

.bar {
    width: 400px;
    max-width: calc(100vw - 250px);
    height: inherit;
    resize: horizontal;
    cursor: ew-resize;
    opacity: 0;
    overflow: scroll;
}
.bar::-webkit-scrollbar {
    width: 250px;
    height: inherit;
}

.line {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid #cccccc4d;
    pointer-events: none;
}
